


<form #form = "ngForm" (ngSubmit)="submit(form)">
 <div>
   <label for="name" >Name</label>
   <input
     id="name"
     type="text"
     [class.error]="!form.controls.name?.valid"
     [class.valid]="form.controls.name?.valid"
     [(ngModel)]="user.name" name="name"
     placeholder="enter name"
     [minlength]="[4]"
     pattern="[A-Z][A-Z a-z ' -]+">
   <div
     [class]="['error']"
     *ngIf="!form.controls.name?.valid">
     name must be 4 symbols at least
   </div>
 </div>
 <div>
   <label for="age">Age</label>
   <input
     id="age"
     [class.error]="!form.controls.age?.valid"
     [class.valid]="form.controls.age?.valid"
     [(ngModel)]="user.age"
     [type]="['number']"
     name="age"
     placeholder="enter age"
     [max]="[115]"
     [min]="[18]"
     >
   <div
     [class]="['error']"
     *ngIf="(form.controls.age?.value < 18 || form.controls.age?.value >= 100) && form.controls.age?.touched">
     age must be less than 100 and more than 18
   </div>
 </div>
  <div>
    <label for="email">E-mail</label>
    <input
      id="email"
      [class.error]="!form.controls.email?.valid"
      [class.valid]="form.controls.email?.valid"
      [(ngModel)]="user.email"
      [type]="email"
      name="email"
      placeholder="enter email"
      pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">

    <div
      [class]="['error']"
       *ngIf="!form.controls.email?.valid">
         enter the valid email address
    </div>
  </div>
  <button  type="submit" [disabled]="!form.controls.name?.valid || !form.controls.age?.valid || !form.controls.email?.valid"> Save</button>
</form>




<app-users [users]="users"></app-users>

<!--==========Reactive form============-->

<!--<form [formGroup]="myForm" (ngSubmit)="saveUser(myForm)">-->
<!--  <label for="name">User name</label>-->
<!--  <input id="name" type="text" [formControl]="name" placeholder="enter name" pattern="[A-Z][A-Z a-z ' -]+" [class.error]="!myForm.controls.name?.valid"  [class.touched]="!myForm.controls.name?.touched" [class.valid]="myForm.controls.name?.valid">-->
<!--  <label for="age" >User age</label>-->
<!--  <input id="age" type="number" [formControl]="age" placeholder="enter age" [class.error]="!myForm.controls.age?.valid" [class.touched]="!myForm.controls.age?.touched" [class.valid]="myForm.controls.age?.valid" >-->
<!--  <label for="email" >E-mail</label>-->
<!--  <input id="email" type="email" [formControl]="email" placeholder="enter email" [class.error]="!myForm.controls.email?.valid" [class.touched]="!myForm.controls.email?.touched" [class.valid]="myForm.controls.email?.valid">-->
<!--  <button [disabled]="!myForm.valid" >Save</button>-->
<!--  <div [class]="['error']" *ngIf="!myForm.controls.name?.valid && myForm.controls.name?.touched" >name must be 4 symbols at least</div>-->
<!--  <div [class]="['error']" *ngIf="!myForm.controls.age?.valid && myForm.controls.age?.touched"> age must be less than 100 and more than 18</div>-->
<!--  <div [class]="['error']" *ngIf="!myForm.controls.email?.valid && myForm.controls.email?.touched" > enter the valid email address</div>-->

<!--</form>-->
